/* PAGE SELECTOR */
#page-selector {
    /* dimensions */
    width: 100%;
    height: 10vh;
    /* display */
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    /* position */
    position: fixed;
    top: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
}


.selector {


    height: 40%;
    background: none;
    border: none;
    color: #7f7e7e;
    font-size: 1vw;
    font-family: "Montserrat";
    cursor: pointer;

    text-align: center;
    text-decoration: none;

    /* font-size: 16px; */
    cursor: pointer;

    border-top: 1px solid black;

    transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    margin: 0 1%;

}

.selector:hover {
    color: rgb(255, 255, 255);
}


.selected {

    border-top-color: white;

    color: rgb(255, 255, 255);

    transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    transition: border 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

}