body {
    margin: 0 0;
    padding-top: 10vh;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    background-color: black;

    overflow: hidden;
}


/* NAV BAR */
#nav-bar {
    /* styling */
    /* background-color: white; */

    /* dimensions */
    width: 90%;
    height: 10vh;
    padding: 0 5%;


    /* display */
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;

    /* position */
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    
}

.logo {
    height: 60%;
}

.navBarSize {
    background: none;
    border: none;
    color: white;
    font-size: 1vw;
    font-family: "Montserrat";
    cursor: pointer;
}








#screen {
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: black;

    overflow: hidden;
}

.section {
    /* dimensions */
    width: 100%;
    height: 80vh;

    /* display */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}



/* UPLOAD FIELD */
#imageUpload {
    display: none;
}

label[for="imageUpload"] {
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.preview {
    display: none;
    margin-top: 20px;
}

.preview {
    width: 10vw;
    display: none;
}

.uploadGraphic {
    width: 15%; 
}







/* PAGE SELECTOR */
#page-selector {
    /* dimensions */
    width: 100%;
    height: 10vh;
    /* display */
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    /* position */
    position: fixed;
    top: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
}


.selector {
    background: none;
    border: none;
    color: #7f7e7e;
    font-size: 1vw;
    font-family: "Montserrat";
    cursor: pointer;

    text-align: center;
    text-decoration: none;

    /* font-size: 16px; */
    cursor: pointer;

    transition: color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);


}

.selector:hover {
    color: rgb(255, 255, 255);
}


.active {

    text-decoration: underline;

}

p {
    color: white;
}



/* PHONE ADJUSTMENTS*/
@media (max-width: 600px) {
    .selector {

        font-size: 4vw;
    }

    .navBarSize {
        font-size: 4vw;

    }
    
  }